<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Laing Homes</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/services" class="link">Our services</a></li>
					<li><a href="/post" class="link">Blog</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
				<img src="img/equal-housing-opportunity-logo-svg-vector.svg" alt="Equal Housing Opportunity Logo"
					class="w3 db center bg-white">
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/LaingRealtor/" "svg" "icons-facebook") }}
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }} -->
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/laingrealtor/" "svg" "icons-instagram") }}
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }} -->
				</ul>
			</div>

		</div>

	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
